 body  {
	background-image:url('leeoimg.png');
	background-size: 100% 420px;
	background-repeat:no-repeat;
	background-color:#f8f7f2;
	font-family:calibri;
	margin:0;
	padding:0;
}
 
 #nav {
	background-color:#f8f7f2;
	background-image:url('logo.png');
	background-size:12% 65%;
	background-position:center;
	background-repeat:no-repeat;
	width:100%;
	height:60px;
	position:fixed;
	font-size:22px; 
	top: -5;  
	z-index: 100;    
	left:0;
	box-shadow:0px 0px 8px #EBE9E6;
}

		#nav ul {
			list-style-type:none;
			margin-left:15px;
			margin-top:18px;
		}
			
		#nav li {
			display:inline;
			margin-right:20px;
		}

		#nav a {
			font-size:20px;
			font-family:Calibri, sans-serif;
			font-weight:100;
			color:#5B5D5D;
			text-decoration:none;
		}
		
		#nav a:last-child {
			margin-right:0;
		}

#break {
	margin-left:15%;
}

strong {
	color:#93b7c6;
	font-weight:500;
}

ul {
	list-style-type:none;
}

a:link {
	color:#7A7A7A;
	text-decoration:none;
}


a:hover {
	color:#7A7A7A;
	text-decoration:none;
}

a:visited {
	color:#7A7A7A;
	text-decoration:none;
}

a:active {
	color:#7A7A7A;
	text-decoration:none;
}

#listings li {
	display:inline;
}

header {
	width:1000px;
	padding-top:30px;
	padding-left:40px;
	margin:0 auto;
	color:#ffffff;
}

p {
	font-size:18px;
	line-height:28px;
	text-align:justify;
	margin-top:1px;
}

h1 {
	font-family:Poiret One, Calibri, sans-serif;
	font-size: 35px;
	letter-spacing:1.4px;
	font-weight: 300;
	padding-bottom:10px;
	margin-bottom:1px;
	-webkit-text-stroke: 1px;
}

h2 {
	font-family:calibri, sans-serif;
	font-size:23px;
	color:#7A7A7A;
	text-transform:uppercase;
	font-weight:100;
	margin-top:0;
	margin-bottom:0;
}

#first {
	padding-top:390px;
	padding-bottom:15px;
	margin-left:0;
}

#listings {
	height:365px;
}

.mid {
	width:1000px;
	margin:0 auto;
}


.section1 {
	width:100%;
	padding-bottom:15px;
}

.section2 {
	width:100%;
	padding-bottom:15px;
	background-color:#EBE9E6;
	padding-top:1px;
}

.footer {
	width:100%;
	height:170px;
	padding-bottom:15px;
	background-color:#3B3B3B;
	padding-top:1px;
	color:white;
}

.startlist  li {
	font-family:Poiret One, Calibri, sans-serif;
	font-size:35px;
	padding-bottom:10px;
	margin-bottom:1px;
}

.startlistimg {
	padding-left:0px;
	margin-bottom:1px;
}

.blurb  li{
	float:left;
	margin:0 35px 10px 0;
	width:278px;
	text-align:justify;
	line-height:25px;
}

.title-i {
	margin-left:11%;
}

.title-m {
	margin-left:23%;
}

.title-f {
	margin-left:24%;
}

.title-i-img {
	margin-left:11%;
}

.title-m-img {
	margin-left:16%;
}

.title-f-img {
	margin-left:16%;
}

.partners ul {
	padding-left: 0; 
	margin-top:1px;
}

.p-info {
	line-height:28px;
}

.p-contact {
	margin-bottom:22px;
	color:#7A7A7A;
}

#contact1 {
	height: 350px;
	padding-top: 50px;			
	background-color: #FFFEEC;
}

#contact1 h2 {
	margin-bottom: 5px;
	font-size: 22pt;
}

#contact1 p {
	margin: 20px 0;
	font-size: 15pt;
	line-height: 25px;
}

#info {
	position: absolute;
	margin-top: -425px;
	background-color: #FFF;
	width: 300px;
	opacity: 0.9;
	height: 350px;
	margin-left: 700px;
}

#info h2 {
	margin: 20px;
}

#info p:not(.ainfo) {
	margin: 20px;
}

.ainfo {
	margin: 20px;
	margin-left: 40px;
}

.footer ul {
	padding-left:0px;
}

.left {
	float:left;
	width:350px;
	padding-right:40px;
}

.center {
	float:left;
	width:330px;
}

.right {
	float:left;
	width:200px;
}

body {
	font-family: Calibri;
}

#contain {
	width: 100%;
	height: 500px;
	padding-top: 40px;
	background-color: lightgray;
	left: 0;
	right: 0;
	position: absolute;
}

#centerschools {
	width: 1000px;
	height: 500px;
	margin: 0 auto;
}

#schooloverflow {
	width: 1000px;
	height: 500px;
	overflow: hidden;
	position: relative;
}

#schools {
	position: absolute;
	width: 1000px;
	padding-top:25px;
	height: 500px;
}

#schoolselect {
	position: absolute;
	width: 1000px;
	height: 500px;
	margin-left: 1000px;
}

#schoolselect p {
	font-size: 15pt;
	line-height: 2;
}

.box {
	background-color: gray;
	width: 300px;
	height: 200px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 15px;
	display: inline-block;
}

.box:hover {
	cursor: pointer;
}

.schoolname {
	position: absolute;
	width: 280px;
	padding-right: 20px;
	margin-top: 155px;
	text-align: right;
}

.hidden {
	display: none;
}